<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTXAgentEnvironment</key>
	<string></string>
	<key>DTXApplicationID</key>
	<string></string>
	<key>DTXClusterURL</key>
	<string></string>
	<key>DTXLogLevel</key>
	<string>ALL</string>
	<key>DTXManagedCluster</key>
	<false/>
	<key>xDTXBeaconURL</key>
	<string>https://bf62555kge.bf-dev.dynatracelabs.com/mbeacon</string>
	<key>xxxDTXDiagnosticCategories</key>
	<array>
		<string>Communications</string>
		<string>Notifications</string>
	</array>
</dict>
</plist>
